#changes-card{
    max-height: 60vh;
    overflow-y: auto;
}

#websites-card{
    max-height: 40vh;
    overflow-y: auto;
}

.rawcode {
    resize: none;
    border: 0;
    outline: 0;
    background-color: #fff;
}