<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}scraper-php{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
            {{ encore_entry_link_tags('css') }}
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}

    {% block javascripts %}

    {% endblock %}
    </body>
</html>
